@import url{'https://fonts.googleapis.com/css?family=poppins:20'}
*{
    margin:0;
    padding:0;
     
  }

  header{
    background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)), url('/home/wecode/Documents/project6pizza/image/1.jpg');
    height:110vh;
    width:100%;
    background-size:cover;
    background-position: center;
    text-align:center;
    font-size:30px;
   

  }
h1{
    margin-top:18%;
    color:white;
    font-family: monospace;
}
p{
    margin-top:5%;
    color:white;
    font-family: monospace;
}
.button{
  position:absolute;
 top:85%;
 left:50%;
 transform:translate(-50%,-50%);
 margin-right: 5%;
}
#button{
    position:absolute;
   top:100%;
   left:50%;
   transform:translate(-50%,-50%);
   margin-right: 5%;
  }
.active{
 border:1px solid #fff;
 padding:10px 30px;
 color:#fff;
 text-decoration:none;
 transition:0.6s ease;
 background-color:orangered;
}
.active:hover{
 background-color:white; 
 color:orangered;
}

.main ul {
  text-align:center;
 
}
.main ul li
{
  display:inline-block;
  padding:10px;
  
}
.main ul li a{
  text-decoration:none;
  color:white;
  padding:10px 20px;
  border:1px solid transparent;
  transition:0.6s ease;
 font-size:20px;
 position:relative;
}
.main ul li a:hover{
  background-color:white;
  color:black;
}
/* .actives{
  background-color:black;
  color:white;
} */
.menu h2{
    font-size: 20px;
    color:white;
}
.menu ol{
    text-decoration: none;
}
.menu ol li{
    
    color:white;
    font-size: 20px;
}
h3{
    margin-left:5%;
}
.button1{
margin-top:5%;
margin-left:5%;
    }
   #show-order p{
color:black;
   }
    .photo p{
      color:black;
    } 
    .photo h1{
      font-family:lato;
      color:#000;
      font-size:40px;
      text-align: center
    }
    .photo h1:after{
      
      background:white;
      display:block;
      width:150px;
      height:3px;
      margin:10px auto;
      
    }
    
    .photo1, .photo2{
      display:flex;
      justify-content:space-between;
      margin-left:17%;
      margin-right:17%;
      
    }
    #photos1, #photos2, #photos3,#photos4, #photos5, #photos6{
      display:flex;
      flex-direction:column;
      box-shadow:6px 6px 6px orange;
      
    }
    #photos1 img:hover, #photos2 img:hover, #photos3 img:hover,#photos4 img:hover, #photos5 img:hover, #photos6 img:hover{
      opacity:0.5;
    }
    /* .footer{
      background-color: black;
     
  } */
  .footer h4{
  margin-top: 3%;
  color:black;
  text-align: center;
  }
  .footer ul li{
      display: inline-block;
      padding:30px;
      margin-left: 8%;
      margin-right: 10%;
     
  }
  
  .twitter{
      display:flex;
      flex-direction:row;
      font-size:20px;
      color:grey;
     
      
    }
    .facebook{
      display:flex;
      flex-direction:row;
      font-size:20px;
      color:grey;
    
      
    }
    .instagram{
      display:flex;
      flex-direction:row;
      font-size:20px;
      color:grey;
      
      
    }
    .google{
      display:flex;
      flex-direction:row;
      font-size:20px;
      
      color:grey;
    }
    .you{
        color:grey;
    }
  .copyright{
    text-align:center;
    color:grey;
    font-size:15px;
}
  